@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Caprasimo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-motion";




@theme {
  --color-darkColor:#16423C;
  --color-lightColor:#6A9C89;
  --color-backgroundColor:#E9EFEC;
  --color-greenlight:#C4DAD2;
  --font-Poppins:"Poppins",sans-serif;
  --font-Bitcount: "Bitcount Prop Double", system-ui, sans-serif;
}


@layer components {
 .navClick{
  @apply font-bold text-darkColor hover:text-lightColor cursor-pointer;
 }

 .skillsContainer{
  @apply w-75 h-85  bg-greenlight p-5 rounded-md shadow-md;
 }

 .skillsTitle{
  @apply text-[19px] text-center font-bold text-darkColor;
 }

 .allSkills{
  @apply h-25 w-20 bg-backgroundColor shadow-2xl rounded-md pt-1 px-1 cursor-pointer hover:animate-bounce ;
 }

 .projectCard{
  @apply px-2 py-0.5 text-[11px] bg-green-300 rounded-full mr-3;
 }
}

html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; 
}


@keyframes shake {
  0%, 100% { transform: translatey(0); }
  25% { transform: translatey(-5px); }
  75% { transform: translatey(5px); }
}
.animate-shake {
  animation: shake 1s ease-in-out infinite;
}


